*{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
}

body{
	background-image:url("fondAdmin.jpg");
}

.tout{

	position:relative;
	bottom:-120px;

}
h1{
	color:#00c4ff;
	font-size:80px;
	font-weight:900;
	text-align:center;
	position:relative;
	left:-400px;
	margin-bottom:80px;
	margin-top:25px;
	letter-spacing: 5px;
	font-family:impact,haettenschweiller,'arial narrow bold' , sans serif;

}

.bouton1{
	background-color:white;
	box-shadow: 1px 2px 3px black;
	filter:blur;
	width: 350px;
	height: 70px;
	display: block;
	border-radius:60px;
	position:relative;
	right:-300px;
	margin:50px;
	text-align:center;
	font-size:15px;
	font-weight:600;
	letter-spacing: 3px;

}


.bouton2{
	background-color:black;
	text-align:center;
	width: 120px ;
	height:  70px;
	border-radius:10px;
	position:relative;
	right:-430px;
	margin:20px;
	color:white;
	font-weight:600;
	letter-spacing: 1px;
	cursor: pointer;
}

.bouton2:hover{
	background-color:#00c4ff;
	
	color:black;
}


a{
	color:black;
	text-decoration:none;
	font-style:italic;
	text-align:center;
	position:relative;
	left:-425px;
	bottom: -50px;
	margin-top:100px;
}

a:hover{
	color:red;
	font-style:normal;
}

/*p{
	font-style:oblique;
	text-align:center
	color:black;
	text-decoration:none;
	position:relative;
	right:-410px;
	margin:20px;
}
*/
